
[submodule "Retro-Routes-User-service"]
	path = Retro-Routes-User-service
	url = https://github.com/iamsribin/Retro-Routes-User-service.git

[submodule "Retro-Routes-Apigateway-service"]
	path = Retro-Routes-Apigateway-service
	url = https://github.com/iamsribin/Retro-Routes-Apigateway-service
	
[submodule "Retro-Routes-Client-Service"]
	path = Retro-Routes-Client-Service
	url = https://github.com/iamsribin/Retro-Routes-Client-Service
 
[submodule "Retro-Routes-Driver-service"]
	path = Retro-Routes-Driver-service
	url = https://github.com/iamsribin/Retro-Routes-Driver-service

[submodule "Retro-Routes-Payment-Service"]
	path = Retro-Routes-Payment-Service
	url = https://github.com/iamsribin/Retro-Routes-Auth-Service 

[submodule "Retro-Routes-Booking-service"]
	path = Retro-Routes-Booking-service
	url = https://github.com/iamsribin/Retro-Routes-Booking-service 

[submodule "Retro-Routes-Realtime-Service"]
	path = Retro-Routes-Realtime-Service
	url = https://github.com/iamsribin/Retro-Routes-Booking-service 